
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    background-color:#ede3da;
    font-family: "Roboto", sans-serif;
}

.navb {
    background-color: whitesmoke;
}
td img {
width: 100%;
}

thead{
    text-align: center;

}

th, td {
border-right: solid lightgray 0.01px ;
}

tbody {
    padding: 10px;
}

h1 {
    color: rgb(243, 158, 0);
    font-size: 80px;
    margin-bottom: 35px;
}
.edit_title {
    font-size: 50px;
}
.des {
    width: 40%;
}

i {
    font-size: 25px;
    color: rgb(243, 158, 0);
    vertical-align: middle;
    padding: 5px;
    border: solid transparent 2px;
    box-sizing: border-box;
    transition: border-color 0.2s;
}
 i:hover {
    border: solid rgb(243, 158, 0) 2px;
    border-radius: 5px;
 }

.pri, .icon {
    width: 6%;
    text-align: center;
}

.show {
    justify-content: center;
}

.btn {
    background-color: white;
    border: solid rgb(243, 158, 0) 2px;
    color: rgb(243, 158, 0);
    transition: border-color 0.5s, color 0.5s, background-color 0.5s;
}

.btn:hover {
    color: white;
    background-color: rgb(243, 158, 0);
    border-color: transparent;
}

